@import '/src/style/base/mixin.scss';

.tagsContainer{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    p{
        color: $color-white;
        background-color: $color-commun;
        padding: 7px 10px;
        border-radius: 10px;
        font-weight: bold;
        @media screen and (max-width:$breakpoint) {
        
            font-size: 10px;
        }
    }
    
}
