.Container_logement{
    @include container-logement;
    @media screen and (max-width:$breakpoint) {
        
        flex-direction: column;
    }
}


.Container_title_tags{
    @include container-title-tags;
    
}

.Container_host_rate{

    @include container-host-rate;
    @media screen and (max-width:$breakpoint) {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

}
.fiche-container{
    @include fiche-container;
}

.logement-container{
    @include logement-container;


}