@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// couleurs

$color-commun : #ff6060;
$color-black :#000;
$color-white: #fff;
$color-grey:#f7f7f7;
$color-grey1:#F6F6F6;

$breakpoint : 820px;
$breakpoint_large: 1440px;
