@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// couleurs

$color-commun : #ff6060;
$color-black :#000;
$color-white: #fff;
$color-grey:#f7f7f7;

$breakpoint : 768px;

