body{
    height: 100%;
    width: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

main{
    padding: 0 45px;
    height: 100%;
    @media screen and (max-width:$breakpoint) {
        
        padding:  10px;
  
    }

    
}
// error 

@mixin errh2{

    font: {

        size:288px;
        weight:700;

    }
}

@mixin errp{
    font: {
        size: 36px;
        weight: 500;
    }
    line-height: normal;
    text-align: center;
}

@mixin div{
    min-height: 1050px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
    
}

// FOOTER //

@mixin footer{


    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px 20px;
    gap: 20px;
}


// HEADER //

@mixin container{

    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 30px 45px;
}
@mixin HeaderContainer{
    display: flex;
    justify-content: center;

}
@mixin nav{
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 57px;
    font-size: 25px;
    color: $color-black;
}

// HOME //

@mixin containerCards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: $color-grey1;
    padding: 35px;
    border-radius: 20px;
    margin:35px 0 ;
}
@mixin cards {

    background-color: $color-commun;
    position: relative;
    width: 340px;
    height: 340px;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 15px;

}

@mixin image{

    object-fit: cover;
    width: 100%;
    height: 100%;
}
@mixin h3{
    position: absolute;
    font-size: 18px;
    bottom: 10px;
    left: 10px;
    color: $color-white; 
}
@mixin before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// BANNER

@mixin bannerContainer{

    position: relative;
    width: 100%; 
    height: 223px;
    overflow: hidden;
    border-radius: 20px;
}

@mixin textBold{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    position: absolute;
    top: 30%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    color: $color-white;
}

// ABOUT //

@mixin collapseContainer{

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;

}
@mixin divCollapse{
    display: flex;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px 10px 15px;
    max-width: 1023px; 
    width: 100%;
    align-items: center;

}

@mixin txtP{
    
    background-color: $color-grey;
    margin: 0px;
    border-radius: 5px;
    min-height: 50px;
    font-size: 18px;
    padding: 15px;

}