
.title-container{

    h1{
        font-weight: 400;
        color: $color-commun;
        margin-bottom: 4px;
    }
    p{
        margin-top: 0px;
        font-size: 20px;
        font-weight: 500;
    }
}
