.cardsContainer {
  @include containerCards;
  @media screen and (max-width:$breakpoint) {
    background-color: $color-white;
    padding: 0;
  }
}

.cards {
  @include cards;
  @media screen and (max-width:$breakpoint) {
    width: 100%;
    
  }


  img{
    @include image;


  }
  h3{

    @include h3;
  }
  &:hover {
    cursor: pointer;
  }
  &::before{
    @include before;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(15, 14, 14, 0.7));
  }
}
.loading::before {
  background-color: $color-commun; 
}
