
.host-container{

    @include host-container;
    img{

        @include host-img;

    }
    p{
        @include host-p;
        @media screen and (max-width:$breakpoint) {
           width: 50px;
        }
    }
    @media screen and (max-width:$breakpoint) {
        p{
            font-size: 12px ;
        }
        img{
            width: 35px;
            height: 35px;
        }
    }
}
