@import '/src/style/base/mixin.scss';
// image

.arrow-icon {
    transition: transform 0.3s ease-in-out;
    width: 31px;
    height: 28px;
}
  
.open {
    transform: rotate(-180deg);
}
.closed .arrow-icon {
    transform: rotate(0deg);
}

// Collapse

.collapseContainer{

    @include collapseContainer;
}
.divCollapse {
    @include divCollapse;
    h2{
        font-size: 24px;
        margin: 0;
    }
    @media screen and (max-width:$breakpoint) {      
        padding: 7px 20px 7px 15px;
        h2{

            font-size: 14px;
        }
    }
}
  
.Collapse{
    max-width: 1023px; 
    width: 100%;
}
.txt p, 
.txt ul{

    @include txtP;
    @media screen and (max-width:$breakpoint) {
        font-size: 15px;
        padding: 9px;
    }
}


// logement

.collapse_logement{

    display: flex;
    gap: 20px;
    width: 100%;
    @media screen and (max-width:$breakpoint) {      
        display: flex;
        flex-direction: column;
    }

    ul{

        list-style-type: none;
    }

}