@import '/src/style/base/mixin.scss';
.carrousel {
    position: relative;
    width: 100%;
    height: 100%;
    height: 415px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
    .slide {
      @include slide;
    }
    
    .counter {
      @include counter;
      @media screen and (max-width:$breakpoint) {      
        opacity: 0;
      }
    }
  
    .carrouselArrow {
      @include arrow;
      @media screen and (min-width:$breakpoint_large) {      
        width: 1080px;
      }

      @media screen and (max-width:$breakpoint) {
        width: 100%;
        padding: 0px;
      }
      
    }
  
    .arrow {
      cursor: pointer;
      @media screen and (max-width:$breakpoint) {
        width: 40px;

      }
  
    }
    @media screen and (max-width:$breakpoint) {
      height: 255px;
      width: 100%;
    }
    
}

