@import '/src/style/base/mixin.scss';
.header{

    @include HeaderContainer;
}
.container{

    @include container;
    max-width: 1440px;
    @media screen and (max-width:$breakpoint) {
        padding: 20px 25px;
  
    }
}
.logoKasa{


    @media screen and (max-width:$breakpoint) {
        width: 145px;
  
    }
}
