.nav ul{

    @include nav;
}

.nav ul li a{

    text-decoration: none;
    color: $color-black ;
    
}
.nav ul li a:hover{

    text-decoration: underline;
    color: $color-black ;
    
}
.nav ul li{

    list-style-type: none;


}
