@import '/src/style/base/mixin.scss';
.bannerContainer {

    @include bannerContainer;
    @media screen and (max-width:$breakpoint) {
        height: 123px;
    }
}
  
.bannerImg{
    @include image;
    
}
  
.bannerText{
    @include textBold;
    @media screen and (max-width:$breakpoint) {
        font-size: 24px;
        padding:  30px 62px 23px 36px ;
        margin-left: 0px;
  
    }
}

.bannerContainer::before {
    @include before;
    background: linear-gradient(rgba(14, 13, 13, 0.411), rgba(0, 0, 0, 0.7));
}
  